*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  border: solid 2px red;
  background-color: skyblue;
}
.container-nav{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 60%;
  border: solid 5px green;
}
.logo-nav{
  border: solid 2px black;
  width: calc(100% / 4);
}
.links-nav{
  border: solid 2px black;
  width: calc(100% / 2);
}
.login{
  border: solid 2px black;
  width: calc(100% / 4);
}
.head{
  background-color: blue;
}
.container-head{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 40%;
  border: solid 3px greenyellow;
}
.info-download{
  background-color: magenta;
  width: 100%;
  margin: 20px 0;
  height: 300px;
}